@model IEnumerable<StockTracker.Models.TradeListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.TradeId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Ticker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeEntryPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeExitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeEntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeExitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDaysInTrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnOnCapital)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TradeId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeEntryPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeExitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeEntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDaysInTrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnOnCapital)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TradeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TradeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TradeId })
            </td>
        </tr>
    }

</table>
